body {
  background: #000;
  color: #ccc;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, monospace;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container { max-width: 80ch; width: 100%; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, section, article, header, footer, div, nav,

time { margin: 0; padding: 0; }
section { margin-bottom: 1.5em; }
h2, h3 { margin-top: 1.5em; }

.man-header,
.man-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
}

footer { margin-top: 3em; margin-bottom: 0; }

h1, h2, h3 { font-size: 14px; text-transform: uppercase; }

.section-content { margin-left: 4ch; }

a { color: #ccc; text-decoration: underline; }

a:hover { background: #000; color: #fff; text-decoration: none; }

.synopsis-box { background: #f4f4f4; padding: 1em; border-left: 3px solid #ccc; }

table { border-collapse: collapse; }

td { padding-right: 2em; vertical-align: top; }

.nav-links { border-bottom: 1px solid #ddd; }

.nav-links a { text-decoration: none; margin-right: 20px; font-weight: bold; }

code {
  display: block;
  margin-left: 4ch;
  font-style: italic;
  white-space: pre-wrap;
}

.man-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.article-text { margin-top: 0; }
.article-text p + p { margin-top: 1em; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.section-content ul { list-style-type: "- "; padding-left: 2ch; }

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  html { zoom: 1.2; }
}

@media only screen and (min-width: 1001px) {
  html { zoom: 1.5; }
}

.hidden-trigger {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.text-toggle::before { content: "Light"; }

:root:has(#theme-toggle:checked) {
  body { background: #fff; color: #000; }
  a { color: #000; }
  a:hover { background: #fff; color: #aaa; }
  background: #fff; color: #000;
  .text-toggle::before { content: "Dark"; }
}
